/* Poppins Font Face Declarations - Local Fonts */

/* Poppins Regular (400) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/poppins-regular.woff2') format('woff2');
}

/* Poppins Medium (500) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/poppins-medium.woff2') format('woff2');
}

/* Poppins SemiBold (600) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/poppins-semibold.woff2') format('woff2');
}

/* Poppins Bold (700) */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/poppins-bold.woff2') format('woff2');
}
